@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

/*---colors---*/

.ui-color-home {
    background-color: #e67e22;
}

.ui-color-menu {
    background-color: #9b59b6;
}

.ui-color-gallery {
    background-color: #56b2f0;
}

.ui-color-contact {
    background-color: #14d6d6;
}

.active {
    background-color: #f0ff27;
}

/*---navbar---*/

.list-group {
    margin: 0;
}

.navbar {
    padding-left: 0;
    padding-top: 0;
    display: inline-block;
    position: relative;
    height: 800px;
}

#nav li {
    font-size: 20px;
}

.menuitem {
    height: 180px;
    text-align: center;
    padding: 0; 
}

.menuitem a {
    width: 100;
    text-decoration: none;
    color: #ffffff;
    height: 180px;
}

.menuitem a i {
    padding-top: 50px;
    display: block;
    color: #fafafa;
    font-size: 30px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    font-family: 'Permanant Marker', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*---hover---*/

.hvr-bounce-to-right:before {
    background-color: #228b3c;
    height: 180px;
}