@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.container-style {
    padding-right: 0;
}

/*---alert---*/

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    border-color: rgb(19, 109, 226);
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/*---colors---*/

.ui-color-home {
    background-color: #e67e22;
}

.ui-color-menu {
    background-color: #9b59b6;
}

.ui-color-gallery {
    background-color: #56b2f0;
}

.ui-color-contact {
    background-color: #14d6d6;
}

.active {
    background-color: #f0ff27;
}

/*---navbar---*/

.list-group {
    margin: 0;
}

.navbar {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    display: inline-block;
    position: relative;
    min-height: 100%;
}

#nav li {
    font-size: 20px;
}

.menuitem {
    height: 180px;
    text-align: center;
    padding: 0; 
}

.menuitem a {
    width: 100;
    text-decoration: none;
    color: #ffffff;
    height: 180px;
}

.menuitem a i {
    padding-top: 50px;
    display: block;
    color: #fafafa;
    font-size: 30px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    font-family: 'Permanant Marker', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*---callout---*/

.callout {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    letter-spacing: 9px;
    text-align: center;
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 130px;
    padding: 15px;
    background: #9c9b9b;
    color: #fafafa;
}

.container-background {
    background-color: #c5b2b2;
    padding: 0;
}

/*---hover---*/

.hvr-bounce-to-right:before {
    background-color: #15692a;
    height: 180px;
}

/*----menu---*/

.food-beverage-menu-container {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    background: #9c9b9b;
    color: #fafafa;
}

.breakfast-container {
    padding: 5px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    background: #9c9b9b;
    color: #fafafa;
}

.lunch-container {
    padding: 5px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    background: #9c9b9b;
    color: #fafafa;
}